    <header>
        <div id="header-socialmediaicons">
            <div class="icon-divs"><a href="https://facebook.com" target="_blank"><img src="/images/facebook.png" alt="Facebook link"></a>
            </div>
            <div class="icon-divs"><a href="https://tiktok.com" target="_blank"><img src="/images/tik-tok.png" alt="Tik Tok link"></a>
            </div>
            <div class="icon-divs"><a href="https://x.com" target="_blank"><img src="/images/twitter.png" alt="Twitter link"></a>
            </div>
            <div class="icon-divs"><a href="https://instagram.com" target="blank"><img src="/images/instagram.png" alt="facebook link"></a>
            </div>
        </div>
        <div id="website-title">
            <h1><span id="black-title">PUBLISHING </span><span class="orange-text"> COMPANY</span></h1>
            <h2 id="website-title-h2"> BOOK PUBLISHING COMPANY</h2>
        </div>
        <!-- BEGIN: Book Search & Cart Feature - functional header search -->
        <div id="header-searchbar">
            <form id="header-search-form" role="search">
                <input type="text" id="header-search-input" placeholder="Search by title or author..."
                    aria-label="Search books">
            </form>
            <div id="header-magnifying-glass">
                <button type="button" id="header-search-button" aria-label="Search">
                    <img src="/images/magnifying-glass.png" alt="" height="24px" width="24px">
                </button>
            </div>
        </div>
        <div id="header-cart">
            <button id="cart-icon" aria-label="Open cart">
                <span id="cart-icon-label">&#128722; Cart</span>
                <span id="cart-count-badge">0</span>
            </button>
        </div>
        <!-- END: Book Search & Cart Feature - functional header search -->
    </header>
    <section id="navbar">
        <nav id="tabs">
            <a href="/" class="active-tab-hover">HOME</a>
            <a href="/about" class="active-tab-hover">ABOUT</a>
            <a href="/contact-us" class="active-tab-hover">CONTACT</a>
        </nav>
    </section>
